# Private key for deployment (without 0x prefix)
PRIVATE_KEY=ec7f0dfdb28b8f8f56ff79081bc57d93c08089b2fb8d108132cb1784977183c2

# RPC URLs
SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/-8Y_iB2Z77QjNEg57XXS6tbooZ254_s0

# API Keys for contract verification
ETHERSCAN_API_KEY=C4IP5K35TCEN9WFSN6BW5NXKSNP8N74PR8